@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "vars";

body {
    font-family: 'Poppins', sans-serif;
    background: $blackColor;
}

// Шапка
header {
    // Верхнє меню
    .head {
        margin-top: 61px;
        display: grid;
        grid-template-columns: 500px 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        @media (max-width: 1500px) {
            grid-template-columns: 400px 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 1200px) {
            grid-template-columns: 300px 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (max-width: 600px) {
            text-align: center;
            grid-template-columns: 1fr;
        }

        // Меню
        a {
            color: $whiteColor;
            display: inline-block;
            position: relative;
            font-size: 25px;
            font-weight: 600;
            text-decoration: none;

            // Ефекти при наведенні на меню
            &::after {
                content: '';
                position: absolute;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $whiteColor;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        // Ефекти при наведенні на кожен елемент
        .first {
            margin: -3px 10px;
            padding: 0;

            img {
                border-radius: 50%;
                max-width: 100%;
                transition: transform 0.3s ease-in-out;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                background-color: #ff6600;
                z-index: -1;
                transition: width 0.3s ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.1); // Збільшення зображення при наведенні
                }

                &::before {
                    width: 100%; // Розширення фонового елемента при наведенні
                }
            }
        }

        .second, .third {
            &::after {
                width: 75px;
            }
        }

        .four, .five {
            &::after {
                width: 105px;
            }
        }
    }

    // Основна інформація з шапки
        .header-main {
          margin-top: 98px;  
          display: grid;
          grid-template-columns: 1fr 400px 700px;
          grid-gap: 20px;

          @media (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
          }

          @media (max-width: 800px) {
            grid-template-columns: 1fr;
          }

        // Анімація при завантаженні сторінки
        .first-block,
        .second-block,
        .third-block,
        .social {
            animation: fade-in 6s ease-in-out forwards;
            opacity: 0;
            transform: translateY(20px);
        }

        @keyframes fade-in {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        // Основна частина шапки розбита на 3 блоки
        // Перший блок з соц.мережами
        .first-block {
            .white-line-high {
                margin-left: 30px;
                width: 1px;
                height: 240px;
                background-color: $whiteColor;
            }

            // Соц. мережі
            .social {
                .linkedin,
                .github,
                .telegram {
                    position: relative;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        border: 2px solid transparent;
                        transition: transform 0.3s ease;

                        img {
                            margin-left: 15px;
                            border-radius: 50%;
                            width: 30px;
                        }

                        &:hover {
                            transform: scale(1.1) translateY(-5px);
                        }
                    }
                }
            }

            .white-line-low {
                margin-left: 30px;
                width: 1px;
                height: 240px;
                background-color: $whiteColor;
            }
        }

        // Другий блок з описом про мене
        .second-block {
            margin-top: 175px;

            .hello + .name + .position {
                font-weight: 600;
            }

            .hello {
                color: $whiteColor;
                font-size: 32px;
                margin-left: 5px;
            }

            .name {
                color: $orangeColor;
                font-size: 88px;
            }

            .position {
                color: #BCBCBD;
                font-size: 24px;
                margin-left: 5px;
            }

            .button {
                display: flex;

                .hire, .more {
                    font-weight: 600;
                    border-radius: 7px;
                    font-size: 20px;
                    padding: 10px 20px;
                }

                .hire {
                    color: #000;
                    background-color: $orangeColor;
                    border: 2px solid #000;
                    transition: background-color 0.3s, color 0.3s, transform 0.3s;

                    &:hover {
                        background-color: $blackColor;
                        color: #fff;
                        transform: translateY(-5px);
                    }
                }

                .more {
                    color: $orangeColor;
                    font-size: 20px;
                    background: $blackColor;
                    border: 2px solid #000;
                    transition: background-color 0.3s, color 0.3s, transform 0.3s;

                    &:hover {
                        background-color: $orangeColor;
                        color: $blackColor;
                        transform: translateY(-5px);
                    }
                }

                button {
                    display: block;
                    text-transform: uppercase;
                    margin: 30px 5px;
                }
            }
        }

        // Третій блок з фото
        .third-block {
            margin-top: -50px;
        }
    }
}


    // Основна частина
    .main {
      margin-top: 200px;
      animation: fade-in 6s ease-in-out forwards;
      opacity: 0;
      transform: translateY(20px);

      display: flex;

      @keyframes fade-in {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .my-photo {
       margin-right: 120px;

      img {
        margin-left: 20px;
        border-radius: 15%;
        }
      }

      // Інформація про мене
      .info {
        margin-top: 50px;

          h1 {
            color: $orangeColor;
            font-size: 56px;
            font-weight: 600;
            text-transform: uppercase;
          }

          p {
            color: $whiteColor;
            font-size: 27px;
            font-weight: 400;
          }

          // Стек технологій
          .stack {
            .stack-photo {
                .front-end, .back-end, .ide {
                    display: flex;

                    .html,
                    .css,
                    .sass,
                    .js,
                    .jquery,
                    .vue,
                    .gulp,
                    .figma,
                    .php,
                    .laravel,
                    .sql,
                    .composer,
                    .docker,
                    .webstorm,
                    .phpstorm {
                            img {
                                margin-left: 15px;
                                transition: transform 0.3s ease, opacity 0.3s ease;

                                &:hover {
                                      transform: scale(1.1);
                                        opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }


// Послуги, які я можу надавати

section {
    margin-top: 200px; /* Вміст адаптується відступом від верху екрану */
    text-align: center; // Вирівнювання по центру

    .services {
        .main-text {
            color: $orangeColor;
            font-size: 36px; /* Зменшуємо розмір тексту для менших екранів */
            font-weight: 600;
            position: relative;
            display: inline-block; // Зробити блоком, але залишити ширину тексту
            margin: 0 auto; // Горизонтальне вирівнювання по центру

            &::after {
                content: "";
                position: absolute;
                left: 35px; /* Зменшуємо відстань від тексту до лінії */
                bottom: -5px; // Визначає відстань від тексту до лінії
                width: 75%; // Ширина лінії рівна ширині тексту
                height: 2px; // Визначає товщину лінії
                background-color: $orangeColor; // Колір лінії, змініть його на ваш смак
            }
        }

        .services-info {
            margin-top: 75px; /* Вміст адаптується відступом від верху блоку */
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Змінюємо кількість колонок та їх розмір залежно від розміру екрану */
            gap: 103px; /* Зберігаємо відступ між елементами */

            .vue,
            .landing,     
            .laravel {
                padding: 20px; /* Зменшуємо відступи */
                text-align: center;
                border-radius: 9px;
                border: 2px solid $orangeColor; /* Зменшуємо товщину рамки */
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    margin-top: 50px;
                }
            }

            .vue {
                height: auto; /* Знімаємо жорстку висоту */
                .name-services {
                    margin-top: 20px; /* Зменшуємо відступ */
                }    
            }

            .landing, 
            .laravel {
                height: auto; /* Знімаємо жорстку висоту */
            }

            .laravel {
                img {
                    border-radius: 50%;
                }
            }

            p {
                color: $orangeColor;
                font-size: 32px;
                font-weight: 600;
                margin: 10px 0; /* Зменшуємо відступи */
                font-size: 24px; /* Зменшуємо розмір тексту */
            }

            span {
                color: $whiteColor;
                text-align: center;
                font-size: 22px;
                font-weight: 400;
                font-size: 18px; /* Зменшуємо розмір тексту */
            }
        }
    }
}


// Розділ про мої проекти

.projects {
    margin-top: 180px;

    .name-section {
        text-transform: uppercase;
        color: $orangeColor;
        font-size: 56px;
        font-weight: 600;
    }
}

