@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$orangeColor: #FFA688;
$whiteColor: #fff;

body {
    font-family: 'Poppins', sans-serif;
    background: #202124;
}

header {
    .head {
        margin-top: 61px;
        display: grid;
        grid-template-columns: 500px 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        @media(max-width: 1500px) {
            grid-template-columns: 250px 1fr 1fr 1fr 1fr;
        }

        @media(max-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        a {
            color: $whiteColor;
            font-size: 25px;
            font-weight: 600;
            text-decoration: none;
            transition: text-decoration 0.7s ease;

            &:hover {
                text-decoration: underline;
                transition: 0.6s ease;
            }
        }
    }
}