@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "vars";

body {
    font-family: 'Poppins', sans-serif;
    background: $blackColor;
    color: $whiteColor;
}

* {
  outline: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.flex {
    display: flex;
    justify-content: space-between; // розкидати об'єкти по різних сторонах
}

.main-title {
    text-align: center;
    color: $orangeColor;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        left: 35px;
        bottom: -5px; 
        width: 75%; 
        height: 2px;
        background-color: $orangeColor; 
        }
      }

.social {
  display: flex;
  justify-content: flex-start;

        .linkedin,
        .github,
        .telegram {
          position: relative;
          overflow: hidden;
          width: 50px;
          height: 50px;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #fff;
            border: 2px solid transparent;
            transition: transform 0.3s ease;

            img {
              margin-left: -20px;
              border-radius: 50%;
              width: 30px;
            }

            &:hover {
              transform: scale(1.1) translateY(-5px);
            }
          }
        }
      }

// Шапка
header {
  padding-top: 60px;

  .header-top {
    @extend .flex;
    align-items: center;

    .logo {
      margin: 7px 20px;
    }

    @media(min-width: 1025px) {
      .menu {
        display: none;
      }
    }

    @media(max-width: 1024px) {
      ul {
        display: none;
      }

      .menu {
        font-size: 35px;
      }
    }

    ul {
      list-style: none;
      margin: initial;

      li {
        display: inline-block;
        margin-right: 57px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $whiteColor;
          text-transform: uppercase;
          font-size: 18px;

          &::after {
            content: "";
            width: 0;
            display: block;
            background-color: $whiteColor;
            height: 2px;
            transition: all .3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  @media(min-width: 1025px){
    .mobile-menu {
      display: none!important;
    }
  }

  @media(max-width: 1024px){
    .mobile-menu {
      display: none;
      text-align: center;

      ul {
        padding: 0;
      }

      li {
        margin-bottom: 25px;
        list-style: none;
        font-size: 24px;

        a {
          color: $whiteColor;
        }
      }
    }
  }

    // Основна інформація з шапки
  .header-main {
    @extend .flex;
    margin-top: 100px;

    @media(max-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 100px;

      .first-block {
        display: none;
      }

      .second-block {
        margin-top: 0 !important;

        .hello,
        .name,
        .position,
        .button {
          align-items: center!important;
        }
      }

      .third-block {
        img {
          margin-top: 80px;
          text-align: center;
          width: 100%;
        }
      }
    }

        // Основна частина шапки розбита на 3 блоки
        // Перший блок з соц.мережами
        .first-block {
            .white-line-high {
                margin-left: 30px;
                width: 1px;
                height: 240px;
                background-color: $whiteColor;
            }

            // Соц. мережі
            .header-social {
                .linkedin,
                .github,
                .telegram {
                    position: relative;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        border: 2px solid transparent;
                        transition: transform 0.3s ease;

                        img {
                            margin-left: 15px;
                            border-radius: 50%;
                            width: 30px;
                        }

                        &:hover {
                            transform: scale(1.1) translateY(-5px);
                        }
                    }
                }
            }

            .white-line-low {
                margin-left: 30px;
                width: 1px;
                height: 240px;
                background-color: $whiteColor;
            }
        }

        // Другий блок з описом про мене
        .second-block {
            margin-top: 175px;

            .hello + .name + .position {
                font-weight: 600;
            }

            .hello {
                color: $whiteColor;
                font-size: 32px;
                margin-left: 5px;
            }

            .name {
                color: $orangeColor;
                font-size: 88px;
            }

            .position {
                color: #BCBCBD;
                font-size: 24px;
                margin-left: 5px;
            }

            .button {
                display: flex;

                .hire, .more {
                    font-weight: 600;
                    border-radius: 7px;
                    font-size: 20px;
                    padding: 10px 20px;
                }

                .hire {
                    color: #000;
                    background-color: $orangeColor;
                    border: 2px solid #000;
                    transition: background-color 0.3s, color 0.3s, transform 0.3s;

                    &:hover {
                        background-color: $blackColor;
                        color: #fff;
                        transform: translateY(-5px);
                    }
                }

                .more {
                    color: $orangeColor;
                    font-size: 20px;
                    background: $blackColor;
                    border: 2px solid #000;
                    transition: background-color 0.3s, color 0.3s, transform 0.3s;

                    &:hover {
                        background-color: $orangeColor;
                        color: $blackColor;
                        transform: translateY(-5px);
                    }
                }

                button {
                    display: block;
                    text-transform: uppercase;
                    margin: 30px 5px;
                }
            }
        }

        // Третій блок з фото
        .third-block {
            margin-top: -50px;
        }
    }
}

// Основна частина
.about-me {
  margin-top: 100px;
  @extend .flex;

  .block {
    @extend .flex;
    align-items: center;
    color: #a0a0a0;

    .order-mobile {
      img {
        border-radius: 15%;
        padding: 0;
      }
    }

    .info {
      h1 {
        color: $orangeColor;
        font-size: 56px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .desc {
        font-size: 24px;
      }

      .tech {
        display: flex;
        flex-direction: row;
      }
    }

    @media(max-width: 780px) {
      .order-mobile {
        order: 2;
        margin-top: 30px;
      }

      flex-wrap: wrap;
    }

    > div {
      width: 100%;
      text-align: center;
    }

    .info {
      @media(min-width: 781px) {
        max-width: 700px;
      }
    }
  }
}

// Послуги, які я можу надавати
section {
    margin-top: 200px;
    text-align: center;

    .services {
        .main-text {
            @extend .main-title;
        }

        .services-info {
            margin-top: 75px; 
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
            gap: 103px; 

            .vue,
            .landing,     
            .laravel {
                padding: 20px;
                text-align: center;
                border-radius: 9px;
                border: 2px solid $orangeColor;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    margin-top: 50px;
                }
            }

            .vue {
                height: auto; 
                .name-services {
                    margin-top: 20px;
                }    
            }

            .landing, 
            .laravel {
                height: auto;
            }

            .laravel {
                img {
                    border-radius: 50%;
                }
            }

            p {
                color: $orangeColor;
                font-size: 32px;
                font-weight: 600;
                margin: 10px 0;
            }

            span {
                color: $whiteColor;
                text-align: center;
                font-size: 22px;
                font-weight: 400;
            }
        }
    }
}

// Розділ про мої проекти
main {
  margin: 180px 0;
  display: flex;
  text-align: center;

  .project {
      .name {
        p {
          @extend .main-title;
          font-size: 56px;
          &::after {
            display: none;
          }
        }
      }

      .portfolio {
        margin-top: 75px; 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 102px;

          .landing-page,
          .vue-js,
          .laravel-php {
            text-align: center;
            border-radius: 9px;
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.1);
            }

            img {
              margin-top: 25px;
              border-radius: 2%;
            }
          }
        }
      }

        p {
          color: $orangeColor;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }


// Відгуки

.review {
  .main-title {
    @extend .main-title;
  }

  .reviews-block {
    padding: 0 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 999px) {
      display: flex;
      flex-direction: column;
    }
  }

  .photo-client {
    margin: 20px 50px;
  }

  .name-person {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;

    .full-review {
      text-align: justify;
      text-justify: inter-word;
      color: $whiteColor;
      font-size: 23px;
      font-weight: 400;
      max-width: 645px;
    }

    .name-line {
      display: flex;
      align-items: center;

      .orange-line {
        margin: 0 auto;
        width: 30%;
        height: 6px;
        background: $orangeColor;
      }

      .name-client {
        text-align: center;
        color: $orangeColor;
        font-size: 2em;
        font-weight: 600;
        position: relative;
        display: inline-block;
        padding-right: 100px;
      }
    }
  }
}


// Форма
.form {
  .main-form {
    display: flex;
    margin-top: 131px;
    justify-content: space-around;

    @media(max-width: 996px) {
      flex-direction: column;
      align-items: center;

      .straight-orange-line {
        display: none;
      }

      .info,
      .social {
        display: flex;
        align-items: center;
        justify-content: center!important;
        text-align: center!important;
      }
  }

        @media (max-width: 600px) {
          flex-direction: column;
          align-items: center;

          .input-button {
            display: flex;
            flex-direction: column;

            .input {
              margin: 20px 0;
              padding: 15px 30px;
              border-radius: 7px;
              background: $blackColor;
              border: 2px solid $orangeColor;
              opacity: 0.8;
              color: $orangeColor;

              &.third-button {
                padding: 15px 30px;
              }
            }

            button {
              padding: 15px 30px;
            }
          }
        }

    .input-button {
      display: flex;
      flex-direction: column;

        input {
          margin: 40px 0;
          padding: 25px 150px;
          flex-shrink: 0;
          border-radius: 7px;
          background: $blackColor;
          border: 4px solid $orangeColor;
          opacity: 0.8;
          color: $orangeColor;
        }

        .third-button {
            padding: 35px 150px;
        }

        .button {
            color: $blackColor;
            padding: 15px 50px;
            font-size: 18px;
            font-weight: 800;
            border-radius: 7px;
            background: $orangeColor;
            transition: background-color 0.3s, color 0.3s, transform 0.3s;

          &:hover {
            color: $blackColor;
            transform: translateY(-5px);
          }
        }
      }

    .straight-orange-line {
      margin-top: 75px;
      width: 1px;
      height: 456px;
      opacity: 0.7;
      background: $orangeColor;
    }

      .info {
        margin-top: 30px;
        text-align: justify;
        text-justify: inter-word;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        .orange-text, .simple-text {
          font-size: 25px;
        }

        .orange-text {
          color: $orangeColor;
        }

        .simple-text {
          color: $whiteColor;
        }

        .social {
          @extend .social;
        }
    }
  }
}

//  Футер
.footer {
  margin-top: 238px;
  background: #2A2B2F;

  .info-social {
    display: flex;
    justify-content: space-around;
    margin-top: 83px;
    padding: 50px 0;

    @media(max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
    }

    .name {
      color: $whiteColor;
      font-size: 23px;
      font-weight: 600;
      margin-top: 5px;
    }

    .social {
      @extend .social;
    }
  }
}

